# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc
*.pyo
*.pyd

# Environment
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
*.sqlite
*.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
